#banner {
height: 220px;
width: 100%;    
background-color: #006991;
color: #FFFFFF;
}

#logo img {
float: left;
margin: 3% 0 0 12.5%;
}

#mrbs{
width: 100%;
float: left;
font-size: 18px;
text-align: center;
}

#logon_box{
float: right;
text-align: center;
margin-right: 2%;
padding: 10px 10px 30px 10px;
background-color: #80b4c6;
border-radius: 0 0 10px 10px;
border: 1px solid  #b9e4f7;
opacity: 0.8;
}
.help{
margin-top: 10px;
}



#contents, 
#trailer {
	margin: 0 auto 50px;
	width: 960px;
}

body {
    background-color: #00AEEF;
    color: #FFFFFF; // #0B263B;
    font-family: normal verdana,lucida grande,sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
}